* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background: #95e1d3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
.newsletter {
  background: #fefefe;
  min-width: 50%;
  display: flex;
  border-radius: 4px;
  padding: 0.3rem;
}
.newsletter input {
  width: 100%;
  border: none;
  padding: 0 1rem;
  font-size: 1rem;
  outline: none;
}
.newsletter button {
  padding: 0.8rem 2rem;
  border: none;
  background: #ff75a0;
  color: #fefefe;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  transition: all 0.8s ease;
}
.newsletter button:hover {
  background: #ff0075;
}
